<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webstore.dao.UserMapper">

    <resultMap id="baseResultMap" type="com.webstore.domain.User">

    </resultMap>

    <!--prefix:表示前缀，suffix:表示后缀，suffixOverrides:去除多余逗号-->
    <insert id="addUser" parameterType="com.webstore.domain.User">
        INSERT INTO user
            <trim prefix="(" suffix=")" suffixOverrides=",">
              <if test="userName != null">username,</if>
              <if test="password != null">password,</if>
              <if test="birthday != null">birthday,</if>
              <if test="sex != null">sex,</if>
              <if test="address != null">address,</if>
            </trim>
        VALUES
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="userName != null">#{userName,jdbcType=VARCHAR},</if>
                <if test="password != null">#{password,jdbcType=VARCHAR},</if>
                <if test="birthday != null">#{birthday,jdbcType=DATE},</if>
                <if test="sex != null">#{sex,jdbcType=VARCHAR},</if>
                <if test="address != null">#{address,jdbcType=VARCHAR},</if>
            </trim>
    </insert>
</mapper>